include partial/header.pug
br
.section1
  img.logo(src="/thumbnail.png", alt="Sam")
  h2  陈正和 Sam Chen
  p 数据分析 | 机器学习
  a(href='phone://18510270120')
    img(src="phone.png", alt="phone")
  a(href='mailto://samchen0727@163.com')
    img(src="email.png", alt="email")
  a(href='https://github.com/zhsam/')
    img(src="github.png", alt="github")
.section2
  ul
    li
      img(src="light.png", alt="lightbulb")
      p 在职-考虑机会
    li
      img(src="job.png")
      p 快手-数据运营
    li
      img(src="profile.png")
      p 男，24岁，2年经验，台湾
    li
      img(src="education.png")
      p 台湾交大-工业工程-本科
  ul
    li
      h3 求职意向
    li
      p 互联网／外企
    li
      p 20-30k／月
    li
      p 上海／深圳／香港

include partial/footer.pug
