footer
  a(href='/education').navi#navi-edu
    p 教育经验
    img(src="img/edu.png")
  a(href='/work').navi#navi-work
    p 工作经验
    img(src="img/work.png")
  a(href='/project').navi#navi-project
    p 项目经验
    img(src="img/project.png")
  a(href='/competition').navi#navi-competition
    p 比赛交流
    img(src="img/competition.png")


script(src='https://s23.cnzz.com/z_stat.php?id=1275312288&web_id=1275312288', language='JavaScript')
