footer
  img(src="../../src/edu.png")
  p 教育经验
  img(src="../../src/work.png")
  p 工作经验
  img(src="../../src/project.png")
  p 项目经验
  img(src="../../src/competition.png")
  p 比赛交流
  p copyright #{currentYear}
