footer
  a(href='/education') 教育经验
    img(src="/edu.png")
  br
  a(href='/work')  工作经验
    img(src="/work.png")
  br
  a(href='/work')  项目经验
    img(src="/project.png")
  br
  a(href='/competition')  比赛交流
    img(src="/competition.png")
  p copyright #{currentYear}
