include links.pug

h2 #{pageTitle}

h2.head#name-header  陈正和 Sam Chen
p.head#keyword-header 数据分析 | 机器学习
.contact-header
  a(href='phone://18510270120')
    img.contact_icon(src="img/phone.png", alt="phone")
  a(href='mailto://samchen0727@163.com')
    img.contact_icon(src="img/email.png", alt="email")
  a(href='https://github.com/zhsam/')
    img.contact_icon(src="img/github.png", alt="github")
