include links.pug

h2 #{pageTitle}

h2  陈正和 Sam Chen
p 数据分析 | 机器学习
a(href='phone://18510270120')
  img(src="phone.png", alt="phone")
a(href='mailto://samchen0727@163.com')
  img(src="email.png", alt="email")
a(href='https://github.com/zhsam/')
  img(src="github.png", alt="github")
