link(rel='stylesheet', href='/sass/index.min.css', type='text/css')
a.nav(href="/")  主页 ／
a.nav(href="/education")  教育 ／
a.nav(href="/work")  工作 ／
a.nav(href="/project")  项目 ／
a.nav(href="/competition")  比赛
